In [2]:
x=input('값을 입력해주세요:')
y=input('값을 입력해주세요:')
print(int(x)+int(y))

값을 입력해주세요:20
값을 입력해주세요:30
50

In [5]:
x=input('첫번째 값:')
y=input('두번째 값:')
z=input('세번째 값:')

if (int(x) and int(y) and int(z))>65:
    print('True')
else:
    print('False')

첫번째 값:80
두번째 값:90
세번째 값:70
True

In [8]:
word='hello kwanghee'
hi= word.replace('hello','hi')
hi

'hi kwanghee'

In [9]:
word.upper()

'HELLO KWANGHEE'

In [10]:
word

'hello kwanghee'

In [12]:
'l like {1},{0}!!'.format(1,4)

'l like 4,1!!'

In [13]:
x=input('아무 문자나 입력해')
x.replace(' ','')

아무 문자나 입력해안녕 반가워

'안녕반가워'

In [14]:
a=[]
a=list()
b=()
b=tuple()

In [11]:
a=[1,2,3,4,5]
1 in a
6 in a
a.extend([6,7])
a
a.pop()
a

[1, 2, 3, 4, 5, 6]

In [16]:
a=[1,2,3,4,5]
b=a.copy()
b

[1, 2, 3, 4, 5]

In [19]:
a is b

False

In [20]:
a=[i for i in range(2,12,2)]

[2, 4, 6, 8, 10]

In [22]:
x=int(input('숫자를 입력해주세요:'))
a.append(x)
a

숫자를 입력해주세요:10

[1, 2, 3, 4, 5, 10, 10]

In [23]:
score=dict(name='tom',math=80,english=70)

In [24]:
score

{'name': 'tom', 'math': 80, 'english': 70}

In [26]:
name=input('이름')
age=input('나이')
phone=input('연락처')
print({'이름':name,'나이':age,'연락처':phone})

이름김
나이26
연락처01033323237
{'이름': '김', '나이': '26', '연락처': '01033323237'}

In [27]:
a=set('animal')

In [28]:
a

{'a', 'i', 'l', 'm', 'n'}

In [29]:
a={1,2,3}
b={3,4,5}
set.union(a,b)

{1, 2, 3, 4, 5}

In [36]:
fruit=['사과','오렌지']
vegetable=['당근','호박']

category=input('카테고리: ')
if category=='채소':
    vege=input('채소: ')
    if vege not in vegetable:
        vegetable.append(vege)
    else:
        print('이미 등록됨')
elif category=='과일':
    fru==input('과일: ')
    if fru not in fruit:
        fruit.append(fru)
    else:
        print('이미 등록됨')

카테고리:

In [38]:
vegetable

['당근', '호박']

In [46]:
x=[3,6,9,20,-7,5]
x=[i*10 for i in x]
x

[30, 60, 90, 200, -70, 50]

In [51]:
y={'math':70,'science':80,'english':20}

for key,value in y.items():
    value=value+10
    y[key]=value
y

{'math': 80, 'science': 90, 'english': 30}

In [55]:
gugu=int(input('몇단을 출력하시겠습니까?'))
for i in range(1,9):
    print('{}*{}={}'.format(gugu,i,gugu*i))

몇단을 출력하시겠습니까?10
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80

In [56]:
for i in range(1,101):
    if i%3==i%5==0:
        print('3과 5 공배수')
    elif i%3==0:
        print('3의 배수')
    elif i%5==0:
        print('5의 배수')
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [64]:
i=0
x=1
while x!=0:
    x=int(input('값: '))
    i=i+x
print(i)

값: 20
값: 30
값: 40
값: 0
90

In [ ]:
import random
random.random()

In [80]:
vic=0
total=0
computer=1
while 1<=computer<=3:
    computer=int(input('가위(1) 바위(2) 보(3)를 입력해주세요: '))
    user=random.randint(1,3)
    total+=1ㅋ
    if user==3 and computer==2:
        vic+=1 
    elif user==2 and computer==1:
        vic+=1
    elif user==1 and computer==3:
        vic+=1
print('게임종료 전체:{}, 승리:{}'.format(total-1,vic))

가위(1) 바위(2) 보(3)를 입력해주세요: 3
가위(1) 바위(2) 보(3)를 입력해주세요: 2
가위(1) 바위(2) 보(3)를 입력해주세요: 3
가위(1) 바위(2) 보(3)를 입력해주세요: 1
가위(1) 바위(2) 보(3)를 입력해주세요: 4
게임종료 전체:4, 승리:2

In [81]:
fruit_list=['사과','배','옥수수','당근']
fruit=" ".join(fruit_list)

In [82]:
fruit

'사과 배 옥수수 당근'

In [83]:
a=[i for i in range(10) if i%2==0]

In [86]:
word=['school','game','piano','science','hotel','mountain']

new_word=[i for i in  word if len(i)>=6]
new_word

['school', 'science', 'mountain']

In [87]:
word=['school','game','piano','science','hotel','mountain']

word_len=[len(i) for i in word]

In [88]:
word_len

[6, 4, 5, 7, 5, 8]

In [89]:
a=[[10,20],[30,40],[50,60]]
for x,y in a:
    print(x,y)

10 20
30 40
50 60

In [96]:
for i in a:
    for j in i:
        print(j,end=',')

10,20,30,40,50,60,

In [98]:
a=[[10,20],[30,40],[50,60]]
b=[[2,3],[4,5],[6,7]]
new_list1=[]
for i in range(len(a)):
    new_list=[]
    for j in range(len(a[i])):
        x=a[i][j]*b[i][j]
        new_list.append(x)
    new_list1.append(new_list)
new_list1

[[20, 60], [120, 200], [300, 420]]

In [102]:
a=[] 
num=0
for i in range(3):
    temp=[]
    for j in range(2):
        num=num+1
        temp.append(num)
    a.append(temp)
print(a)

[[1, 2], [3, 4], [5, 6]]

In [103]:
file=open('file.txt','w')
file.write('first file')
file.close()

In [107]:
file=open('file.txt','r')
print(file.read())

file.close()

first file

In [109]:
with open('file.txt','r') as file:
    text=file.read()
    print(text)

first file

In [150]:
import pickle
text=['FirstFile','SecondLine']
with open('data.pkl','wb')as file:#data파일을바이너리쓰기모드로열기
    pickle.dump(text,file)

In [151]:
import pickle
with open('data.pkl','rb') as file:#data파일을바이너리읽기모드로열기
    data=pickle.load(file)
    print(data)

['FirstFile', 'SecondLine']

In [154]:
import pickle
name='tom'
age=24
address='서울시 마포구'
scores={'python':90,'deeplearning':95,'database':85}

with open('data2.pkl','wb' ) as file:
    pickle.dump(name,file)
    pickle.dump(age,file)
    pickle.dump(address,file)
    pickle.dump(scores,file)

In [156]:
import pickle
with open('data2.pkl','rb')as file:
    name2=pickle.load(file)
    age2=pickle.load(file)
    address2=pickle.load(file)
    scores2=pickle.load(file)
    print(address)

서울시 마포구

In [163]:
lis=[1,2,3,1,4,2,1]

def allindex(x,y):
    new_list=[]
    index=0
    for i in x:
        if i==y:
            new_list.append(index)
        index+=1
    return new_list

In [164]:
allindex(lis,1)

[0, 3, 6]

In [165]:
def func(*args):  #가변인수= *변수  고정인수는 *있는 것
    for arg in args:
        print(arg)
func(1)
func(1,2,3,4,5)

1
1
2
3
4
5

In [166]:
def func(a,*args):
    print(a,end="")
    for arg in args:
        print(arg,end='')
func(100,1,2,3,4,5)

10012345

In [167]:
def func(email,name):
    print("이메일:",email)
    print("이름:",name)
func(email='aa@aa.com',name='tom')
func('aa@aa.com','tom')
x={'email':'aa@aa.com','name':'tom'}
func(**x)

이메일: aa@aa.com
이름: tom
이메일: aa@aa.com
이름: tom
이메일: aa@aa.com
이름: tom

In [168]:
def func(email,name):
    print('이메일:',email)
    print('이름:',name)

x={'email':'aa@aa.com','name':'tom'} 
func(email='aa@aa.com',name='tom')
func('aa@aa.com','tom')
func(**x)

이메일: aa@aa.com
이름: tom
이메일: aa@aa.com
이름: tom
이메일: aa@aa.com
이름: tom

In [172]:
def calc(calcular,*lis):
    if calcular=='+':
        total=0
        for i in lis:
            total=total+i
    return total
calc('+',1,2,3,4,5)

15

In [173]:
def test(end):
    if end==0:
        return
    print('재귀함수')
    end-=1
    test(end)   #재귀함수
test(5)

재귀함수
재귀함수
재귀함수
재귀함수
재귀함수

In [178]:
def f_sum(num):
    if num==0:
        return 0
    return num+f_sum(num-1)
f_sum(5)

15

In [180]:
(lambda x:x+10)(1)

11

In [181]:
y=20
(lambda x:x+y)(1)

21

In [182]:
(lambda x:x+y)(1)

21

In [184]:
a=[i for i in range(1,11)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [185]:
def f(x):
    if x%2==0:
        return 0
    else:
        return x

list(map(f,a))

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [187]:
list(map(lambda x:0 if x%2==0 else x, a))

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [188]:
list(filter(lambda x: x>2 and x<5,a))

[3, 4]

In [195]:
numbers=[12,32,55,12,32,4,86,50]
list(map(lambda x: '합격' if x>60 else '대기'if  50<=x<=60 else '불합격',numbers))

['불합격', '불합격', '대기', '불합격', '불합격', '불합격', '합격', '대기']

In [199]:
files=['memo.txt','1.jpg','32.png','23.jpg','223.jpg']
list(filter(lambda x: x.find('.jpg')!=-1 ,files))

['1.jpg', '23.jpg', '223.jpg']

In [200]:
try:
    print(10/0)
except:
    print('예외오류발생')

예외오류발생

In [204]:
x=[1,2,3]
try:
    print(10/0)
    x[5]
except ZeroDivisionError as e:
    print('숫자를 0으로 나눌수 없음', e)
except IndexError as e:
    print('잘못된 인덱스', e)

잘못된 인덱스 list index out of range

In [205]:
import sys
print(sys.path)

['C:\\jupyter\\kdigital_lecture\\복습 파일', 'C:\\ProgramData\\Anaconda3\\python38.zip', 'C:\\ProgramData\\Anaconda3\\DLLs', 'C:\\ProgramData\\Anaconda3\\lib', 'C:\\ProgramData\\Anaconda3', '', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\kimkwanghee\\.ipython']