In [19]:
x=[3,6,9,20,-7]
for i in range(len(x)):   #리스트의 원소를 변경할려면 인덱스 이용 
    x[i]=x[i]*10   
print(x)

[30, 60, 90, 200, -70]

In [20]:
list1=[10,20,30,40,50]
for i in range(len(list1)-1,-1,-1): #range(시작 끝, 증감)
    list1[i]=list1[i]
print(list1)

[10, 20, 30, 40, 50]

In [21]:
def func(a,b,c):
    print(a,b,c)
x=[1,2,3]
func(*x)  #인자값에 리스트 사용언패킹

1 2 3

In [22]:
def func(*args):  #가변인수= *변수  고정인수는 *있는 것
    for arg in args:
        print(arg)
func(1)
func(1,2,3,4,5)

1
1
2
3
4
5

In [23]:
def func(a,*args):
    print(a,end="")
    for arg in args:
        print(arg,end='')
func(100,1,2,3,4,5)

10012345

In [2]:
def func(email,name):
    print("이메일:",email)
    print("이름:",name)
func(email='aa@aa.com',name='tom')
func('aa@aa.com','tom')
x={'email':'aa@aa.com','name':'tom'}
func(**x)

이메일: aa@aa.com
이름: tom
이메일: aa@aa.com
이름: tom
이메일: aa@aa.com
이름: tom

In [25]:
def func(email,name,age=20):
    print('이메일:',email)
    print('이름:',name)
    print('나이:',age)
func(email='aa.aa.com',name='tom')
func(email='aa.aa.com',name='tom',age=18)

이메일: aa.aa.com
이름: tom
나이: 20
이메일: aa.aa.com
이름: tom
나이: 18

In [26]:
def calc(a,*args):  #가변인수(입력값이 몇개가 될 지 모를때), 고정인수
    result=0         #초기값 0으로 설정
    for i in args:   # 가변인수에서 인수 하나씩 가져옴
        result=result+i  #초기값 0부터 가변인수 끝까지 더함 
    return result   #결과값 출력
calc('+',1,2,3,4,5)

15

In [27]:
def calc(a,*args):
    result=1
    for i in args:
        result=result*i
    print(result)
calc('*',1,2,3,4,5)

120

In [28]:
def calc(a,*args):
    result=0
    for i in args:
        result=result+i
    return result
calc("+",1,2,3,4,5)

15

In [29]:
def func(a,b,c):   #리스트 언패킹
    print(a,b,c)
x=[1,2,3]
func(*x)  #x 리스트에 인자를 언패킹을 통해서 분배, 리스트 언패킹

1 2 3

In [30]:
def func(email,name):   #딕셔너리 언패킹
    print('이메일:',email)
    print('이름:',name)
x={'email':"aa@aa.com",'name':'tom'}  
func(**x) #딕셔너리 언패킹을 통해서 value값들을 언패킹

이메일: aa@aa.com
이름: tom

In [31]:
def func(**kwargs):
    print('이메일:',kwargs['email'])
    print('이름:',kwargs['name'])
func(email='aa@aa.com',name='tom') #func('aa@aa.com','tom')

이메일: aa@aa.com
이름: tom

In [32]:
def calc(a,*args):
    if a=='+':
        result=0
        for i in args:
            result=result+i
        return result
    elif a=="*":
        result=1
        for i in args:
            result=result*i
        return result
    
print(calc("+",1,2,3,4,5,6,7,8,9,10))
print(calc("*",1,2,3,4,5))

55
120

In [33]:
def calc(operator,num1, num2):
    ret=0
    if operator=='+':
        ret=num1+num2
    elif operator=='*':
        ret=num1*num2
    elif operator=="/":
        if num2==0:
            print('0으로 나눌수 없습니다.')
        else:
            ret=num1/num2
    elif operator=='-':
        ret=num1-num2
    return ret

calc("/",1,0)

0으로 나눌수 없습니다.

0

In [34]:
def test(end):
    if end==0:
        return
    print('재귀함수')
    end-=1
    test(end)   #재귀함수
test(5)

재귀함수
재귀함수
재귀함수
재귀함수
재귀함수

In [35]:
def factorial(n):
    if n==1:
        return 1
    return n*factorial(n-1)   #재귀함수로 반복
factorial(5)

120

In [40]:
def f_number(n):#어려우면 넘어가도 됨
    if n==0:
        return 
    
    f_number(int(n/10))
    print(n%10)
    
    
f_number(1234)

1
2
3
4

In [38]:
1234%10

4

In [39]:
int(1234/10)

123

In [46]:
def f_sum(n):
    if n==0:
        return 0 
    return n+f_sum(n-1)
f_sum(5)

15

In [47]:
plus_ten=lambda x:x+10   #람다는 익명함수를 만드는 것

In [48]:
plus_ten(1)

11

In [52]:
def plus_ten(x):
    return x+10
plus_ten(1)

11

In [54]:
plus_ten=lambda x: x+10
plus_ten(1)

TypeError: unsupported operand type(s) for +: 'function' and 'int'

In [55]:
a=[1,2,3,4,5,6,7,8,9,10]

list(map(lambda x:0 if x%2==0 else x,a))

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [56]:
def f(x):
    if x%2==0:
        return 0
    else:
        return x
list(map(f,a))    #a의 인자를 x에 대입

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [57]:
(lambda x:x+10)(1)

11

In [58]:
y=20
(lambda x:x+y)(1)

21

In [59]:
a=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:0 if x%2==0 else 1 if x%3==0 else 2,a))

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [60]:
a=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:0 if x%2==0 else 1 if x%3==0 else 2,a))   #람다식은 elif 사용 못함

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [61]:
score={'이름':'김광희','수학':'100','영어':'100'}
keys=list(map(lambda x:x,score))

In [62]:
keys

['이름', '수학', '영어']

In [63]:
values=list(map(lambda x:score[x],score))
values

['김광희', '100', '100']

In [65]:
a=[2,4,6,8,3,2,1,4,5]
list(filter(lambda x:x>2 and x<8,a))

[4, 6, 3, 4, 5]

In [69]:
a=[1,2,3,4,5,6,7,8,9,10]
def f(x):
    if x%2==0:
        return 0
    elif x%3==0:
        return 1
    else:
        return 2
list(map(f,a))   #a의 인자를 x에 대입

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [70]:
a=[2,5,4,6,432,23,1,2,3]
list(filter(lambda x:x>2 and x<8,a))

[5, 4, 6, 3]

In [74]:
numbers=[12,32,55,12,32,4,86,50]
list(map(lambda x: '합격' if x>60 else '대기' if 50<x<60 else '불합격',numbers))

['불합격', '불합격', '대기', '불합격', '불합격', '불합격', '합격', '불합격']

In [101]:
numbers=[12,32,33,44,55,6,77,88]
list(map(lambda x: '합격' if x>60 else '대기' if 50<=x<=60 else '불합격',numbers))

['불합격', '불합격', '불합격', '불합격', '대기', '불합격', '합격', '합격']

In [99]:
files=['memo.txt','1.jpg','32.png','23.jpg','223.jpg']
list(filter(lambda x: x.find('jpg')!=-1,files))  #>-1도 됨

['1.jpg', '23.jpg', '223.jpg']

In [95]:
names='''강다영
강동아
권윤택
김광희
김기범
김성희
김수진
김태익
남윤호
박수진
박창서
선은빈
송은이
우지원
윤현수
윤호준
이송재
이한비
조계철
최하은
황호영
조성혜'''

name_list=names.split('\n')

In [96]:
name_list

['강다영',
 '강동아',
 '권윤택',
 '김광희',
 '김기범',
 '김성희',
 '김수진',
 '김태익',
 '남윤호',
 '박수진',
 '박창서',
 '선은빈',
 '송은이',
 '우지원',
 '윤현수',
 '윤호준',
 '이송재',
 '이한비',
 '조계철',
 '최하은',
 '황호영',
 '조성혜']

In [19]:
class Dog:
    def __init__(self,name,color):
        self.hungry=0
        self.name=name
        self.color=color
    def eat(self):
        self.hungry-=10
        print('밥먹음',self.hungry)
    def walk(self):
        self.hungry+=10
        print('산책',self.hungry)

In [20]:
choco=Dog('choco','black')

In [22]:
class Calc:
    @staticmethod
    def add(a,b):
        print(a+b)
Calc.add(10,20)

30