In [3]:
a=5
b=a
b=10
a  #a는 값만 할당 주소값은 복사 안됨

5

In [5]:
a=[1,2,3,4]
b=a
b[0]=10 #주소 할당 
a

[10, 2, 3, 4]

In [7]:
y={"math":70,"science":80,"english":20}
for k in y: #k는 딕셔너리의 value값을 지칭 
    y[k]=y[k]+10
print(y)

{'math': 80, 'science': 90, 'english': 30}

In [12]:
x=[3,6,9,20,-7,5]
for i in range(len(x)-1):
    for j in range(len(x)-i-1):
        if x[j]>x[j+1]:
            temp=x[j+1]
            x[j+1]=x[j]
            x[j]=temp
print(x)

[-7, 3, 5, 6, 9, 20]

In [14]:
x=[3,6,9,20,-7,19]
y=x.copy()
for i in x:
    c=0    #인덱스
    for j in x:    
        if i>j:
            c=c+1  #i가 j보다 크다면 한칸 옆으로 
    y[c]=i
x=y
print(x)

[-7, 3, 6, 9, 19, 20]

In [15]:
#print(f'합계는? {score_sum}')

In [24]:
user=int(input('숫자를 입력하세요:'))
cnt=0
while True:
    print(cnt)
    if cnt==user: 
        break
    cnt=cnt+1

숫자를 입력하세요:20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [29]:
user=int(input('숫자를 입력하세요:'))
for i in range(user+1):
    if i%2==1:    #for문이므로 ㅑ=i+1할 필요없음 
        continue
    print(i)

숫자를 입력하세요:20
0
2
4
6
8
10
12
14
16
18
20

In [30]:
a=[i for i in range(0,10)]

In [31]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
a=[i+5 for i in range(0,15)]
a

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [34]:
a=[i*i for i in range(0,10)]
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
c=[i for i in range(10) if i%2==0]  #list[식 for 변수 in 리스트 if 조건]
c
d=[i for i in range(10) if i%2==1]
d

[1, 3, 5, 7, 9]

In [41]:
c=[i*j for i in range(2,10) for j in range(1,10)]
c

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [42]:
gu=[]
for i in range(2,10):
    for j in range(1,10):
        gu.append(i*j)
gu

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [47]:
keys=['name','age','address']
users=['tom',20,'incheon']
user_dict={keys[i]:users[i] for i in range(0,3)}
user_dict
lis=list(zip(keys,users))   #튜플형태로 만들어줌 
lis

[('name', 'tom'), ('age', 20), ('address', 'incheon')]

In [48]:
dic=dict(zip(keys,users))
dic

{'name': 'tom', 'age': 20, 'address': 'incheon'}

In [49]:
new_list=list(zip(keys,users))

In [50]:
new_list

[('name', 'tom'), ('age', 20), ('address', 'incheon')]

In [55]:
word=['school','game','piano','science','hotel','mountain']
word=[i for i in word if len(i)>=6]
word

['school', 'science', 'mountain']

In [54]:
word=['school','game','piano','science','hotel','mountain']
a=[len(i) for i in word]
a

[6, 4, 5, 7, 5, 8]

In [76]:
a=[[10,20],[30,40],[50,60]]
b=[[2,3],[4,5],[6,7]]

c=[]

for i in range(len(a)):
    temp=[]
    for j in range(len(a[i])):
        num=a[i][j]*b[i][j]
        temp.append(num)
    c.append(temp)
        
print(c)

[[20, 60], [120, 200], [300, 420]]

In [98]:
a=[]
for i in range(3):
    temp=[]
    num=num+1
    for j in range(2):
        temp.append(num)
    a.append(temp)
    
    
print(a)

[[8, 8], [9, 9], [10, 10]]

In [99]:
a=[]
num=0
for i in range(3):  #i=0,1,2
    temp=[]   
    num=num+1 #1부터 시작 1,3,5
    for j in range(2):   #j=0,1
        num=num+j    #num=1,2 =>   
        temp.append(num)
    a.append(temp)
    
    
print(a)

[[1, 2], [3, 4], [5, 6]]

In [106]:
lis=[1,2,3,1,4,2,1]
def allindex(my_list,item):
    a=[]
    for i in range(len(my_list)):
        if my_list[i]==item:
            a.append(i)
    return a
print(allindex(lis,1))

[0, 3, 6]